<div>
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<%= audio_tag("hotel_c.wav", controls: true) %>
<%= audio_tag("the_streets.wav", controls: true) %>
<%= audio_tag("liquid.wav", controls: true) %>
<%= audio_tag("harmonys_dub.wav", controls: true) %>
<%= audio_tag("puppeteer.wav", controls: true) %>
<%= audio_tag("give_it.wav", controls: true) %>
<%= audio_tag("aspire.wav", controls: true) %>
<%= audio_tag("before_the_storm.wav", controls: true) %>

