<div class="home-container hidden">

<!-- //------------------- HOME BANNER ------------------- // -->

  <div class="home-banner-container">
    <div class="home-banner-img img-1"></div>
    <div class="home-banner-content">
      <div class="logo"></div>
      <h1>PRODUCER GHOSTWRITER</h1>
      <div class="white-line"></div>
      <p>Multi-instrumentalist, cross genre production.</p>
      <a href="#nox-link"><button class="home-btn">READ MORE</button></a>
      <a href="#nox-link"><i class="fas fa-angle-down fa-lg arrow-icon"></i></a>
    </div>
    <div class="home-banner-img img-2"></div>
  </div>

<!-- //------------------- NOX BANNER ------------------- // -->

  <div class="nox-banner-container">
    <div class="nox-banner" id="nox-link">
      <div class="nox-banner-content">
        <h3>Introducing..</h2>
        <h2 class="nox-title">NOX</h2>
        <p class="nox-description">An experimental project combining a variety of electronic genres and instruments, paired with images and brief contextual snippets to provide a fuller experience.</p>
      </div>
    </div>
  </div>


<!-- //------------------- TUNES ------------------- // -->
  <div class="tunes-container">
    <div class="tune-container">
      <div class="tune-content order-2">
        <div class="tune-content-info">
          <h2 class="tune-title">HARMONY'S DUB</h2>
          <div class="tune-description">
            <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: N/A</h3>
            <h3 class="light-text">Made in: Brighton</h3>
          </div>
        </div>
        <p class="tune-caption center">Emotional Daze</p>
        <div class="tune-audio-clip center"><%= audio_tag("harmonys_dub.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center"><a href="https://soundcloud.com/user-670272512" style="color: black;"target="_blank">Listen on Soundcloud</a></p>
      </div>
      <div class="tune-img-border">
      <div class="tune-img tune-img-1"></div>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-img-border">
      <div class="tune-img tune-img-2"></div>
      </div>
      <div class="tune-content">
        <div class="tune-content-info">
          <h2 class="tune-title">PUPPETEER</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: Techno/House</h3>
          <h3 class="light-text">Made in: Brighton</h3>
        </div>
        <p class="tune-caption center">Hedonistic Treasure</p>
        <div class="tune-audio-clip center"><%= audio_tag("puppeteer.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center"><a href="https://soundcloud.com/user-670272512" style="color: black;"target="_blank">Listen on Soundcloud</a></p>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-content order-2">
        <div class="tune-content-info">
          <h2 class="tune-title">ASPIRE</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: Chill</h3>
          <h3 class="light-text">Made in: Brighton</h3>
        </div>
        <p class="tune-caption center">Warming Meditation</p>
        <div class="tune-audio-clip center"><%= audio_tag("aspire.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center"><a href="https://soundcloud.com/user-670272512" style="color: black;"target="_blank">Listen on Soundcloud</a></p>
      </div>
      <div class="tune-img-border">
      <div class="tune-img tune-img-3"></div>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-img-border">
      <div class="tune-img tune-img-4"></div>
      </div>
      <div class="tune-content">
        <div class="tune-content-info">
          <h2 class="tune-title">STREETS</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: Hip-Hop</h3>
          <h3 class="light-text">Made in: Brighton</h3>
        </div>
        <p class="tune-caption center">The Underground</p>
        <div class="tune-audio-clip center"><%= audio_tag("the_streets.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center"><a href="https://soundcloud.com/user-670272512" style="color: black;"target="_blank">Listen on Soundcloud</a></p>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-content order-2">
        <div class="tune-content-info">
          <h2 class="tune-title">BEFORE THE STORM</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: Cinematic</h3>
          <h3 class="light-text">Made in: Melbourne</h3>
        </div>
        <p class="tune-caption center">Momentary Reflection</p>
        <div class="tune-audio-clip center"><%= audio_tag("before_the_storm.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center"><a href="https://soundcloud.com/user-670272512" style="color: black;"target="_blank">Listen on Soundcloud</a></p>
      </div>
      <div class="tune-img-border">
      <div class="tune-img tune-img-5"></div>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-img-border">
      <div class="tune-img tune-img-6"></div>
      </div>
      <div class="tune-content">
        <div class="tune-content-info">
          <h2 class="tune-title">HOTEL CALIFORNIA (REWORK)</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: House</h3>
          <h3 class="light-text">Made in: Little Chalfont</h3>
        </div>
        <p class="tune-caption center">Subtly Haunted</p>
        <div class="tune-audio-clip center"><%= audio_tag("hotel_c.wav", controls: true, preload: "none") %></div>
        <p><a href="https://soundcloud.com/user-670272512" style="color: black;"target="_blank">Listen on Soundcloud</a></p>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-content order-2">
        <div class="tune-content-info">
          <h2 class="tune-title">GIVE IT</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: Drum & Bass</h3>
          <h3 class="light-text">Made in: UPTON</h3>
        </div>
        <p class="tune-caption center">Desired Frenzy</p>
        <div class="tune-audio-clip center"><%= audio_tag("give_it.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center"><a href="https://soundcloud.com/user-670272512" style="color: black;"target="_blank">Listen on Soundcloud</a></p>
      </div>
      <div class="tune-img-border">
      <div class="tune-img tune-img-7"></div>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-img-border">
      <div class="tune-img tune-img-8"></div>
      </div>
      <div class="tune-content">
        <div class="tune-content-info">
          <h2 class="tune-title">FLOW</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: Liquid Drum & Bass</h3>
          <h3 class="light-text">Made in: Melbourne</h3>
        </div>
        <p class="tune-caption center">Peaceful Focus</p>
        <div class="tune-audio-clip center"><%= audio_tag("liquid.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center"><a href="https://soundcloud.com/user-670272512" style="color: black;"target="_blank">Listen on Soundcloud</a></p>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="white footer-logo"></div>
    <p class="white" style="margin: 0;">Email me for collaboration opportunities<i class="white fas fa-arrow-right" style="padding-left: 1em;"></i></p>
    <div class="footer-links">
      <%= mail_to "contact@ojb-production.com", "", class: "white far fa-envelope fa-2x"%>
      <a href="https://soundcloud.com/user-670272512" target="_blank" class="white" style="padding-left: 1em;"><i class="fab fa-soundcloud fa-2x"></i></a>
    </div>
  </div>
</div>

