<div class="home-container">

<!-- //------------------- HOME BANNER ------------------- // -->

  <div class="home-banner-container">
    <div class="home-banner-img img-1"></div>
    <div class="home-banner-content">
      <div class="logo"></div>
      <h1>MUSIC PRODUCER</h1>
      <div class="white-line"></div>
      <p>Multi-instrumentalist, cross genre production.</p>
      <button class="btn home-btn">READ MORE</button>
      <div><i class="fas fa-angle-down fa-lg"></i></div>
    </div>
    <div class="home-banner-img img-2"></div>
  </div>

<!-- //------------------- NOX BANNER ------------------- // -->

  <div class="nox-banner-container">
    <div class="nox-banner">
      <div class="nox-banner-content">
        <h3>Introducing..</h2>
        <h2>NOX</h2>
        <p>An experimental project spanning a variety of electronic genres and instruments</p>
        <p>Paired with images and a caption to encourage thought </p>
      </div>
    </div>
  </div>


<!-- //------------------- TUNES ------------------- // -->
  <div class="tunes-container">
    <div class="tune-container">
      <div class="tune-content order-2">
        <div class="tune-content-info">
          <h2 class="tune-title">HARMONY'S DUB</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: N/A</h3>
          <h3 class="light-text">Where: Brighton</h3>
        </div>
        <p class="tune-caption center">Emotional Daze</p>
        <div class="tune-audio-clip center"><%= audio_tag("harmonys_dub.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center">Listen on Soundcloud</p>
      </div>
      <div class="tune-img-border">
      <div class="tune-img tune-img-1"></div>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-img-border">
      <div class="tune-img tune-img-2"></div>
      </div>
      <div class="tune-content">
        <div class="tune-content-info">
          <h2 class="tune-title">PUPPETEER</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: Techno/House</h3>
          <h3 class="light-text">Where: Brighton</h3>
        </div>
        <p class="tune-caption center">Hedonistic Treasure</p>
        <div class="tune-audio-clip center"><%= audio_tag("puppeteer.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center">Listen on Soundcloud</p>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-content order-2">
        <div class="tune-content-info">
          <h2 class="tune-title">ASPIRE</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: Chill</h3>
          <h3 class="light-text">Where: Brighton</h3>
        </div>
        <p class="tune-caption center">Warming Meditation</p>
        <div class="tune-audio-clip center"><%= audio_tag("aspire.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center">Listen on Soundcloud</p>
      </div>
      <div class="tune-img-border">
      <div class="tune-img tune-img-3"></div>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-img-border">
      <div class="tune-img tune-img-1"></div>
      </div>
      <div class="tune-content">
        <div class="tune-content-info">
          <h2 class="tune-title">HARMONY'S DUB</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: N/A</h3>
          <h3 class="light-text">Where: Brighton</h3>
        </div>
        <p class="tune-caption center">Emotional Daze</p>
        <div class="tune-audio-clip center"><%= audio_tag("harmonys_dub.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center">Listen on Soundcloud</p>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-content order-2">
        <div class="tune-content-info">
          <h2 class="tune-title">HARMONY'S DUB</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: N/A</h3>
          <h3 class="light-text">Where: Brighton</h3>
        </div>
        <p class="tune-caption center">Emotional Daze</p>
        <div class="tune-audio-clip center"><%= audio_tag("harmonys_dub.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center">Listen on Soundcloud</p>
      </div>
      <div class="tune-img-border">
      <div class="tune-img tune-img-1"></div>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-img-border">
      <div class="tune-img tune-img-1"></div>
      </div>
      <div class="tune-content">
        <div class="tune-content-info">
          <h2 class="tune-title">HARMONY'S DUB</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: N/A</h3>
          <h3 class="light-text">Where: Brighton</h3>
        </div>
        <p class="tune-caption center">Emotional Daze</p>
        <div class="tune-audio-clip center"><%= audio_tag("harmonys_dub.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center">Listen on Soundcloud</p>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-content order-2">
        <div class="tune-content-info">
          <h2 class="tune-title">HARMONY'S DUB</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: N/A</h3>
          <h3 class="light-text">Where: Brighton</h3>
        </div>
        <p class="tune-caption center">Emotional Daze</p>
        <div class="tune-audio-clip center"><%= audio_tag("harmonys_dub.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center">Listen on Soundcloud</p>
      </div>
      <div class="tune-img-border">
      <div class="tune-img tune-img-1"></div>
      </div>
    </div>

    <div class="tune-container">
      <div class="tune-img-border">
      <div class="tune-img tune-img-1"></div>
      </div>
      <div class="tune-content">
        <div class="tune-content-info">
          <h2 class="tune-title">HARMONY'S DUB</h2>
          <h3 class="light-text" style="padding-bottom: 0.1em;">Genre: N/A</h3>
          <h3 class="light-text">Where: Brighton</h3>
        </div>
        <p class="tune-caption center">Emotional Daze</p>
        <div class="tune-audio-clip center"><%= audio_tag("harmonys_dub.wav", controls: true, preload: "none") %></div>
        <p class="tune-soundcloud-link center">Listen on Soundcloud</p>
      </div>
    </div>
  </div>
</div>

<h1>Put in Uncertn extract</h1>

<%= audio_tag("hotel_c.wav", controls: true, preload: "none") %>
<%= audio_tag("the_streets.wav", controls: true, preload: "none") %>
<%= audio_tag("liquid.wav", controls: true, preload: "none") %>

<%= audio_tag("puppeteer.wav", controls: true, preload: "none") %>
<%= audio_tag("give_it.wav", controls: true, preload: "none") %>
<%= audio_tag("aspire.wav", controls: true, preload: "none") %>
<%= audio_tag("before_the_storm.wav", controls: true, preload: "none") %>

