<div class="home-container">
  <div class="home-banner-container">
    <div class="home-banner-img img-1"></div>
    <div class="home-banner-content">
      <div class="logo"></div>
      <h1>MUSIC PRODUCER</h1>
      <div class="white-line"></div>
      <p>Multi-instrumentalist, cross genre production.</p>
      <button class="btn home-btn">READ MORE</button>
      <div><i class="fas fa-angle-down fa-lg"></i></div>
    </div>
    <div class="home-banner-img img-2"></div>
  </div>
</div>

<h1>Put in Uncertn extract</h1>

<%= audio_tag("hotel_c.wav", controls: true, preload: "none") %>
<%= audio_tag("the_streets.wav", controls: true, preload: "none") %>
<%= audio_tag("liquid.wav", controls: true, preload: "none") %>
<%= audio_tag("harmonys_dub.wav", controls: true, preload: "none") %>
<%= audio_tag("puppeteer.wav", controls: true, preload: "none") %>
<%= audio_tag("give_it.wav", controls: true, preload: "none") %>
<%= audio_tag("aspire.wav", controls: true, preload: "none") %>
<%= audio_tag("before_the_storm.wav", controls: true, preload: "none") %>

